*{
    margin: 0px;
    font-family: robotoLight, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: robotoLight;
    src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

body{
    background-image: url(../img/whatsPattern.jpg);
}

h1{
    text-align: center;
    font-family: robotoRegular, Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin-top: 1.5em;
    color: #00bb2d;
    text-shadow: 0 0 3px #ffffff;
}

#info{
    margin-top: 1.8em;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info p{
    margin-bottom: 12px;
}

ul{
    margin-top: 0.8em;
}

#fraseDiv{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 4.5em;
}

input[name="frase"]{
    width: 18%;
    border: 2px solid #0ebd0eb9;
    background-color: rgba(255, 255, 255, 0.719);
    font-size: 18px;
    border-radius: 5px;
}

input[name="frase"]:focus{
    outline: none;
    box-shadow: 0 0 5px #24da24 inset, 0 0 5px #24da24;
}

#codigoDiv{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

button{
    width: 125px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: 300ms;
}

button:hover{
    transform: scale(1.1);
}

.botonAplicado{
    color: #ffffff;
    background-color: #00bb2d;
    border-color: white;
}

#botonReset{
    color: #ffffff;
    background-color: #f84447;
    border-color: white;
}

li{
    color: #00bb2d;
}

li span{
    color: black;
}

/* Footer */
footer{
  background-color: rgba(5, 15, 14, 0.582);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 3em;
}

footer p{
    margin-top: 15px;
    font-size: 15px;
}

/* Header */
header{
  background-color: rgba(5, 15, 14, 0.582);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 3em;
}

header p{
    margin-top: 15px;
    font-size: 15px;
}